@font-face 
{
  font-family: 'Yogyakarta';
  src: url('Font/Yogyakarta.ttf');
}

body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

hr {
  width: 500px;
  border: 2px solid #5D8736;
}

#title {
  margin-top: 100px;
  font-size: 50px;
  font-weight: bold;
  letter-spacing: 2px;
  font-family: "Yogyakarta";
  color: #5D8736;
}

#board {
  width: auto;
  margin: 0 auto;
  margin-top: 3px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.tile {
  border: 3px solid #5D8736;
  border-radius: 10px;
  width: 60px;
  height: 60px;
  margin: 5px;
  color: black;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.correct {
  background-color: #6aaa64;
  color: white;
  border-color: white;
}

.present {
  background-color: #6aaa64;
  color: white;
  border-color: white;
}

.absent {
  background-color: #6aaa64;
  color: white;
  border-color: white;
}

.keyboard-row {
  width: auto;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  gap: 5px;
}

.key-tile {
  width: 36px;
  height: 40px;
  margin: 1px;
  border-radius: 10px;
  border: 2px solid #A9C46C;

  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.enter-key-tile {
  width: 76px;
  height: 40px;
  margin: 1px;
  border-radius: 10px;
  border: 2px solid #5D8736;

  /* Text */
  font-size: 20px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}